<template>
  <div>
    <h1>User: {{ user.name }}</h1>
    <div>
      <ul>
        <li>id: {{ user.id }}</li>
        <li>email: {{ user.email }}</li>
        <li>phone: {{ user.phone }}</li>
      </ul>
    </div>
    <h3>Posts</h3>
    <div>There are {{ postCount }} posts from this user.</div>
    <ul>
      <li
        v-for="post in posts"
        :key="post.id"
      >
        {{ post.id }}: {{ post.title }} ()
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  computed: {
    user() {
      return this.$store.state.users.user;
    },
    posts() {
      return this.$store.state.posts.list;
    },
    postCount() {
      return this.$store.getters['posts/count'];
    },
  },
  async fetch({ store, params }) {
    await Promise.all([
      store.dispatch('users/get', params.id),
      store.dispatch('posts/getByUser', params.id),
    ]);
  },
};
</script>
